services:
  api:
    environment:
      # This enables the custom model
      CUSTOM_MODELS: '[{"name":"Memory Chat RAG","model":"rag-memory-connector","baseURL":"https://site--back-end-api--xwmp2qnnx4rd.code.run/chat","req":{"model":false,"key":"message","endpoint":false},"res":{"key":"response"},"titleConvo":true,"titleModel":"rag-memory-connector","modelDisplayLabel":"Memory RAG","defaultOptions":{"temperature":0.1,"top_p":1.0,"max_tokens":1024}}]'
